@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}

body {
	font-size: 16px;
}

header {
	background-color: #2467E3;
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 3em;
	color: white;
	padding: 2em;
}

nav {
	background-color: white;
	padding: .6em;
	position: fixed;
	width: 100%;
	top:0;
}

h2, h3, li {
	font-family: 'Open Sans', sans-serif;
	color: #3C4345;
	} 

h2 {
	font-weight: bold;
	font-size: 1.8em;
	margin: .5em;
}

h3 {
	font-weight: bold;
	margin: .5em;
	font-size: 1.2em;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 1em;
	margin: .33em .5em;
}

aside {
	background: #2467E3;
	width: 100%;
	overflow: auto;
	margin: 1.25em 0em;
}

ul {
    list-style-type: none;
}

li {
	background: white;
	text-align: center;
	width: 31%;
	float: left;
	padding: .33em;
	font-size: 1em;
	outline: .18em solid #2467E3;
	margin: .6em;
}

footer {
	background-color: #2467E3;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.navlinks{
	font-family: 'Open Sans', sans-serif;
	color: #2467E3;
	text-decoration: none;
	text-transform: uppercase;
	margin: 1.25em;
	font-size: 1em;
}

a:hover {
	color: #8C9496;
}

.photo {
	width: 100%;
}

.social {
	background: white;
	outline: none;
	width: 5%;
}

#journalism, #running, #about {
	width: 75%;
	display:block;
	margin: auto;
}

#three_column {
	width: 100%;
	margin: 1.25em;
}

.offices {
	float: left;
	width: 31%;
	margin: .5%;
}

#web {
	background-color: #2467E3;
}

#skills_text {
	font-family: 'PT Serif', serif;
	font-size: 2em;
	color: white;
}

#skills {
	width: 25%;
	display: inline-block;
	float: left;
}

#skills_list {
	width: 75%;
	display: inline-block;
	float: right;
}

#two_column {
	width: 100%;
	margin: 1.25em;
}

#marathon {
	float: left;
	width: 25%;
}

#run_text {
	float: right;
	width: 75%;
}

#about_column {
	width: 100%;
	margin: 1.25em;
}

#left {
	float:right;
	width: 75%;
}

#right {
	float:left;
	width: 25%;
}

#footer_text {
	font-family: 'PT Serif', serif;	color: white;
	margin: 1.25em;
	padding: .62em;
	font-size: 1.1em;
	text-align: center;
}

#social_buttons {
	float: left;
	background-color: white;
	width: 100%;
	overflow: auto;
	height: 6.25em;
	margin-left: .7em;
}

@media screen and (max-width: 1200px){
	body {
		font-size: 14px;
	}
	#skills {
		display: none;
	}
	#skills_list {
		width: 100%;
	}
}

@media screen and (max-width: 915px) {
	.offices {
		float: none;
		width: auto;
		margin-top: .82em;
	}
	h3 {
		margin: .8em;
	}
	#marathon, #run_text {
		float: none;
		width: auto;
	}
	#left {
		float: none;
		width: auto;
	}	
	#right {
		display: none;
	}
	#skills {
		display: none;
	}
}

@media screen and (max-width: 750px){
	h1 {
		font-size: 2.5em;
	}
	#skills {
		display: none;
	}
	#right {
		display: none;
	}
}

@media screen and (max-width: 720px){
	h1 {
		font-size: 2em;
		padding-top: 3em;
	}
	.disappear {
		display:none;
	}
	#web, #skills, #skills_list, #social_buttons {
		display: none;
	}
}

@media screen and (max-width: 480px) {

}