@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Tinos);


body {
	background: #ABC0C7
}
h1 {
	font-size: 50px;
	text-align: center;
	color: #D8E07B;
	font-family: 'Arimo', sans-serif;
}

nav {
	background-color: #D8E07B;
	height: 30px;
	font-family: 'Tinos', serif;}
}

p,ul {
	font-family: 'Tinos', serif;
}

a {
	text-decoration: none;
}

.navlinks {
	margin-left: 20px;
	margin-top: 10px;
	text-decoration: none;
	color: blue;
	font-weight: bold;
}



#slogan {
	font-style: italic;
	text-align: center;
}

#image {
    text-align: center;
}
