body {
	background: url("https://images.unsplash.com/photo-1430263326118-b75aa0da770b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=aa7842609df3986db798c15162e01aeb");
	background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica;
}
h1 {
	font-size: 50px;
	text-align: center;
	color: #D8E07B;
}

nav {
	background-color: #D8E07B;
	height: 30px;
	font-family: serif;
}
img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
p,ul {
	font-family: serif;
}
a {
	text-decoration: none;
}

.navlinks {
	margin-left: 20px;
	margin-top: 10px;
	text-decoration: none;
	color: blue;
	font-weight: bold;
}



#slogan {
	font-style: italic;
	text-align: center;
}

