body {
	background: url("../images/boston.jpeg");
	background-size: 100% 200%;
    background-repeat: no-repeat;
    font-family: Helvetica;
}
h1 {
	font-size: 40px;
	text-align: center;
	color: #FFF00B;
}
#slogan {
	font-style: italic;
	text-align: center;
}
